.active {
  background-color: rgb(223, 223, 223);
}

mat-toolbar {
  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 1rem;
}
