<form
  *ngIf="createForm"
  [formGroup]="createForm"
  class="form"
  (ngSubmit)="onSubmitForm()"
>
  <h2 class="heading-primary">Create a new card</h2>

  <mat-form-field appearance="outline">
    <mat-label>Dog's type</mat-label>
    <input matInput placeholder="Enter a dog's type" formControlName="title" />
    <mat-error>Enter a valid name</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Write a description here"
      formControlName="description"
      rows="4"
    ></textarea>
    <mat-error>Enter a description</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Profile Picture URL (Optional)</mat-label>
    <input
      matInput
      placeholder="https://material.angular.io/assets/img/examples/shiba1.jpg"
      formControlName="headerImg"
    />
    <mat-error>Enter a valid URL</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Card Picture URL (Optional)</mat-label>
    <input
      matInput
      placeholder="https://material.angular.io/assets/img/examples/shiba2.jpg"
      formControlName="srcImg"
    />
    <mat-error>Enter a valid URL</mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!createForm.valid"
  >
    Create
  </button>
</form>
