.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 600px;
  padding: 0 1.2rem;
  margin: 0 auto;

  gap: 0.8rem;
}

mat-form-field {
  width: 500px;
}

mat-error {
  margin-bottom: 1rem;
}

.actions {
  padding: 0 2.2rem 1rem 2.2rem;
}
